###> symfony/framework-bundle ###
composer.json
composer.lock
symfony.lock
/.env
/.env.local
/.env.local.php
/.env..local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
./var/
/var/*
/var/cache/*
/vendor/
var/*
projet_fil_rouge/vendor/
projet_fil_rouge/var/*
/node_modules/
/migrations/
/package.json
/yarn.lock
../.DS_Store
../.idea/
/.idea/
/var/*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###