{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <a class="btn mt-2 btn-primary" href="{{ path('videos_index') }}">Retour</a>

    {{ include('videos/_form.html.twig') }}

{% endblock %}
