{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('photos_index') }}">Retour</a>

    {{ include('photos/_form.html.twig') }}

{% endblock %}
