{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% if app.user %}
    <a class="btn btn-primary" href="{{ path('photos_index') }}">Retour</a>

    {{ include('photos/_form.html.twig') }}
    {% else %}
        <script>window.location.href = "{{path('login')}}" </script>
    {% endif %}

{% endblock %}
