.footer
{
    background-color:#1b2838;
    padding:20px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#fff;
}

.footer a
{
    color:#fff;
}

.footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}


#scrollUp{
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    bottom : 0.8rem;
    right: -8rem;
    opacity: 0.5;
    background-color: black;
    text-align: center;
}

#scrollUp a{
    font-size: 2.5rem;
    color: white;
}

.container{
    margin:0;
    max-width: 100%;
}

.icons a img{
    margin: 0.3rem 1rem;
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}

.copyright-text{
    padding-top: 0.8rem;
}

#divdecompensation{
    width: 19rem;
}

@media(max-width:1065px){
    #divdecompensation{
        display: none;
    }
}

@media(max-width:745px){
    .copyright-text{
        text-align: center;
    }
    .icons{
        margin: auto;
    }
    #textFooter{
        width: 100%;
    }
}