.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  font-size: 14px;
}
.card {
  background: #1b2838 !important;
  color: white !important;
}
.card-title {
  font-weight: 300;
}

.btn {
  font-size: 14px;
  margin-top: 20px;
}

form {
  width: 50vw;
  margin: 20px;
}

.alert {
  margin-bottom: -30px;
  font-size: 13px;
  margin-top: 20px;
}
