{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('articles_index') }}">Retour</a>

    {{ include('articles/_form.html.twig') }}

{% endblock %}
