<form method="post" action="{{ path('evenements_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette ressource?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
    <button class="btn btn-danger mr-0 ml-0 mt-1 mb-1 w-100">Supprimer</button>
</form>
