{% extends 'base.html.twig' %}

{% block title %}New Informations{% endblock %}

{% block body %}
    <h1>Create new Informations</h1>

    {{ include('informations/_form.html.twig') }}

    <a href="{{ path('informations_index') }}">back to list</a>
{% endblock %}
