{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<a class="btn btn-primary"  href="{{ path('informations_index') }}">Retour</a>
    {{ include('informations/_form.html.twig') }}

    
{% endblock %}
