{% extends 'base.html.twig' %}

{% block title %}Ajouter une Informations{% endblock %}

{% block body %}
    <h1>Ajouter une information</h1>

    {{ include('informations/_form.html.twig') }}

    <a class="btn btn-primary"  href="{{ path('informations_index') }}">Retour</a>
{% endblock %}
